mixin benefit()
    section.benefit
        div.benefit__wrap
            div.benefit__slider.slider
                div.slider__phone
                    img(src="../../assets/images/iPhone.png")
                    div.slider__img
                button.slider__btn-prev: img(src="../../assets/images/btns/Ellipse-next.png")
                button.slider__btn-next: img(src="../../assets/images/btns/Ellipse-next.png")
            div.benefit__content
                div.benefit__main
                    div.benefit__item.item-row
                        div.item-row__img: img(src="../../assets/images/icons-2/browsers.png")
                        div.item-row__body
                            h4.item-row__title Create a beautiful website.
                            p.item-row__text.text Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.
                    div.benefit__item.item-row
                        div.item-row__img: img(src="../../assets/images/icons-2/briefcase.png")
                        div.item-row__body
                            h4.item-row__title Make your our business.
                            p.item-row__text.text From goods to services, every business needs a space online to bring in customers. 
                    div.benefit__item.item-row
                        div.item-row__img: img(src="../../assets/images/icons-2/edit.png")
                        div.item-row__body
                            h4.item-row__title Be artist
                            p.item-row__text.text An artist should always have control over their creative process. 
                button.benefit__btn.button get started
