mixin slider()
    section.examples
        div.examples__wrap
            div.examples__main
                div.examples__content
                    h2.examples__title.title This will change everything
                    p.examples__text.text Your eCommerce website is just the start. Whether you are an established business or on the brink of a new idea, Squarespace gives you the tools to take your business from online store to recognized brand.
                    button.examples__btn.btn-blue get started
        div.examples__slider
            div.examples__imgs
                img(src="../../assets/images/iPad.png")