mixin header()
    header.header
        .header__wrap.wrap
            .header__left
                a.header__logo(href="#"): img(src="./assets/images/logo.png" alt="logo")
                p.header__logo-text Мы, компания "UniWindows", сделаем выбор окон легким, а процесс установки максимально комфортным.
            .header__contacts
                .header__phone.phone
                    span.phone__btn
                        i.phone__icon: img(src="./assets/images/phone.svg" alt="phone")
                    span.phone__num(href="tel:+74951500579")  8 (495) 150-05-79
                .header__office-hours.office-hours
                    i.office-hours__icon: img(src="./assets/images/clock.svg" alt="clock")
                    ul.office-hours__elems
                        li.office-hours__hours Пн. - пт.: с 9:00 до 20:00
                        li.office-hours__hours Сб. - вс: с 10:00 до 18:00
                span.header__call.btn-link заказать звонок
            