extends ./layout/main.pug

include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/banner/banner.pug
include ../blocks/advantages/advantages.pug
include ../blocks/steps/steps.pug
include ../blocks/variant/variant.pug
include ../blocks/form-1/form-1.pug
include ../blocks/form-2/form-2.pug
include ../blocks/form-3/form-3.pug
include ../blocks/additionally/additionally.pug

block title
    title uniWindows

block pagecontent
    +header()

    +banner()

    +form-1()

    +variant()

    +form-2()

    +advantages()

    +steps()

    +form-3()

    +additionally()

    +footer()