.modal
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    z-index 500
    &__bg
        position absolute
        top 0
        left 0
        width 100vw
        height 100vh
        background-color black
        opacity 0.9
        z-index 600
    &__body
        background: url(../../assets/images/modal-bg.png) no-repeat
        position relative
        z-index 700
