mixin modal()
    section.modal
        .modal__wrap
            .modal__body
                h2.modal__title.title-2 Закажите <br> консультацию
                p.modal__text.text Ответ в течение 15 минут
                form(method="POST" id="modal__form").modal__form.modal-form
                    .modal-form__col-2
                        input.modal-form__input.input(type="text" placeholder="Ваше имя" id="name" name="name")
                        input.modal-form__input.input(type="text" placeholder="Ваш телефон" id="tel" name="tel")
                    textarea.modal-form__textarea.textarea(placeholder="Ваш вопрос" id="answer" name="answer")
                    button.modal-form__btn.btn-main Позвоните мне
                    .modal-form__agree
                        .modal-form__checkbox
                            input(type="checkbox" checked)
                            .modal-form__fake-checkbox
                        span.text Я принимаю условия передачи информации
                .modal__close
                    img(src="././assets/images/close.png")
            .modal__bg
            
                




                