mixin modal()
    section.modal
        .modal__wrap
            .modal__body
                h2.modal__title.title-2 Закажите консультацию
                p.advantages__text.text Ответ в течение 15 минут
                form.modal__form.modal-form
                    input.modal-form__input.input(type="text" placeholder="Ваше имя" id="name" name="name")
                    input.modal-form__input.input(type="text" placeholder="Ваш телефон" id="tel" name="tel")
                    textarea.modal-form__textarea.textarea(placeholder="Ваш вопрос" id="answer" name="answer")
                    button.action-form__btn.btn-main Позвоните мне
                        .modal-form__agree.agree
                            span.agree__fake-checkbox
                            span Я принимаю условия передачи информации
        .modal__bg
            
                




                