bg = #faf9f7

smoke-white = #faf9f7
gray = #9b9892
light-gray = #d4cfc6
mid-gray = #bab9b7

light-black = #232323
dark-gray = #37363a

black = #1d1c21
white = #fff
mid-blue = #2a8ab4
dark-blue = #174b61
red = #cb0707