mixin additionally()
    .additionally
        .additionally__wrap.wrap
            h2.additionally__title.title-2 Выполняем дополнительные <br> и комплексные ремонтные работы
            .additionally__elems
                .additionally__elem.additionally__elem--left
                    .additionally__main
                        h3.additionally__subtitle Оформление <br> откосов
                        .additionally__hidden
                            h3.additionally__subtitle.additionally__subtitle--hidden Оформление <br> откосов
                            p.additionally__text Аккуратно заделаем откосы после монтажа, чтобы обеспечить нужный микроклимат и сохранить гармонию интерьера в помещении.
                .additionally__elem.additionally__elem--left
                    .additionally__main
                        h3.additionally__subtitle Установка <br> подоконников
                        .additionally__hidden
                            h3.additionally__subtitle.additionally__subtitle--hidden Установка <br> подоконников
                            p.additionally__text Наши специалисты установят классические подоконники после монтажа.
                .additionally__elem.additionally__elem--right
                    .additionally__main
                        h3.additionally__subtitle Установка <br> москитных сеток
                        .additionally__hidden
                            h3.additionally__subtitle.additionally__subtitle--hidden Установка <br> москитных сеток
                            p.additionally__text Предлагаем на выбор и устанавливаем сетки для защиты от насекомых - рамочные, раздвижные, рулонные, сетки на липучке и сетки-плиссе.
                .additionally__elem.additionally__elem--right
                    .additionally__main
                        h3.additionally__subtitle Комплексная <br> отделка балкона
                        .additionally__hidden
                            h3.additionally__subtitle.additionally__subtitle--hidden Комплексная <br> отделка балкона
                            p.additionally__text Готовы с нуля сделать крышу, парапет, поставить остекление, утеплить пол, обшить сайдингом, ПВХ панелью и выполнить другие необходимые работы.
            button.additionally__btn.btn-main узнать стоимость работ
        //- .additionally__transition-img: img(src="../../assets/images/map-top.png")    