.reasons
    &__wrap
        padding 100px 0
    &__content
        // display grid
        // grid-template-columns repeat( auto-fit, minmax(250px, 1fr) );
        display flex
        justify-content space-between
        flex-wrap wrap

.item
    max-width 230px
    display flex
    flex-direction column
    justify-content flex-start
    &__title
        margin-bottom 20px
    &__text
        margin-bottom 20px
        min-height 125px
    &__btn
        font-size 12px
        font-weight 600
        text-transform uppercase