mixin reasons()
    section.reasons
        div.reasons__wrap.wrap
            div.reasons__content 
                div.reasons__item.item
                    h3.item__title.title-small Dummy Content
                    p.item__text.text Can make website design much easier and with our shortcode manager you can now create them even faster. Choose your desired shortcode and the manager will insert it for you.
                    a.item__btn learn more
                div.reasons__item.item
                    h3.item__title.title-small Dummy Content
                    p.item__text.text Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
                    a.item__btn learn more
                div.reasons__item.item
                    h3.item__title.title-small Dummy Content
                    p.item__text.text Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
                    a.item__btn learn more