mixin pricing()
    section.pricing
        div.pricing__top
            h2.pricing__title.title Join over 1 million customers
        div.pricing__wrap.wrap
            div.pricing__content
                ul.pricing__prices
                    li.pricing__price.price
                        div.price__main
                            h4.price__title begginer
                            span.price__num $4.99
                            p.price__text Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 'I'll try it when I go home,' she thought to herself, 'the next time I'm a little late for dinner.'
                        button.price__btn.btn-blue get started
                    li.pricing__price.price
                        div.price__main
                            h4.price__title begginer
                            span.price__num $4.99
                            p.price__text Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 'I'll try it when I go home,' she thought to herself, 'the next time I'm a little late for dinner.'
                        button.price__btn.btn-blue get started
                    li.pricing__price.price
                        div.price__main
                            h4.price__title begginer
                            span.price__num $4.99
                            p.price__text Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 'I'll try it when I go home,' she thought to herself, 'the next time I'm a little late for dinner.'
                        button.price__btn.btn-blue get started
                
                