.advantages
    background url(../../assets/images/advantages-bg.png) 50% 88% no-repeat bg
    padding 222px 0 650px
    &__text
        font 18px/30px 'Museo Sans Light', sans-serif
        color gray
        text-align center
        margin-top 30px
    &__list
        list-style none
        display flex
        flex-wrap wrap
        justify-content center
        margin-top 80px
        margin-bottom 80px
        @media (max-width 600px)
            padding-top 200px
    &__bottom
        width 48%
        margin-right 0
        margin-left auto
        @media (max-width 1000px)
            width 70%
            margin-right auto
    &__sale
        margin-bottom 60px
        position relative
        @media (max-width 1000px)
            background-color rgba(255, 255, 255, 0.95)
            border-radius 10px
            padding 20px
            box-sizing border-box
            box-shadow 0 0 18px 0 rgba(0, 0, 0, 0.1)
        &::before
            content url(../../assets/images/plus-icon.svg)
            width 47px
            height 47px
            position absolute
            top 35%
            left -70px
            transform translate(0, -50%)
    &__sale-title
        font 60px/84px 'Neumann', sans-serif
        display block
    &__sale-subtitle
        font 24px/30px 'Museo Sans Light', sans-serif
    &__benefits
        list-style none

.benefit
    margin-left 280px
    position relative
    @media (max-width 1000px)
        background-color rgba(255, 255, 255, 0.95)
        border-radius 10px
        padding 20px
        box-sizing border-box
        box-shadow 0 0 18px 0 rgba(0, 0, 0, 0.1)
    @media (max-width 800px)
        margin-left 150px
    &:first-child
        margin-bottom 46px
        margin-left 130px
        @media (max-width 800px)
            margin-left 50px
    &::before
            content url(../../assets/images/check.svg)
            width 16px
            height 16px
            position absolute
            top 25%
            left -35px
            transform translate(0, -50%)
    &__title
        font 30px/54px 'Neumann', sans-serif
        display block
        margin 0
    &__text
        font 16px/24px 'Museo Sans Light', sans-serif

.advantage
    border-radius 12px
    font 18px/28px 'Neumann', sans-serif
    background: rgba(255, 255, 255, 0.5)
    width 302px
    position relative
    padding 50px 0 54px
    box-shadow 0 0 18px 0 rgba(0, 0, 0, 0.1)
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin 0 30px 60px
    &__title
        font 18px/28px 'Neumann', sans-serif
        text-transform uppercase
        color dark-gray
        text-align center
        margin 0
    &__num
        margin 10px 0
        font 120px/1 'Neumann', sans-serif
        text-shadow 0 8px 3px rgba(0, 0, 0, 0.1)
        color mid-blue
        position relative
    &__text
        font 18px/28px 'Neumann', sans-serif
        text-transform uppercase
        color dark-gray
        text-align center
        margin 0
        position relative
        &::before
            content ''
            width: 20px
            height: 1px
            background gray
            position absolute
            left -40px
            top 50%
        &::after
            content ''
            width: 20px
            height: 1px
            background gray
            position absolute
            right -40px
            top 50%
    &::before
        content ''
        width calc(100% + 45px)
        height calc(100% + 45px)
        position absolute
        left -24px
        top -24px
        border 5px solid rgba(255, 255, 255, 0.5)
        border-radius 28px