mixin advantages()
    section.advantages
        div.advantages__wrap.wrap
            div.advantages__content 
                div.advantages__item.item
                    div.advantages__img: img(src="../../assets/images/icons/mail.png")
                    h3.advantages__title.title-small GET A CUSTOMIZED EMAIL ADDRESS AND MORE
                    p.advantages__text.text Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
                    a.advantages__btn learn more
                div.advantages__item.item
                    div.advantages__img--big: img(src="../../assets/images/icons/edit.png")
                    h3.advantages__title.title-small 40 MILLION HIGH QUALITY IMAGES
                    p.advantages__text.text At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.
                    a.advantages__btn learn more
                div.advantages__item.item
                    div.advantages__img: img(src="../../assets/images/icons/card.png")
                    div.advantages__title-body
                        h3.advantages__title.title-small CREATE A SIMPLE LOGO
                        span.advantages__badge
                    p.advantages__text.text She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
                    a.advantages__btn learn more
                