mixin advantages()
    section.advantages
        .advantages__wrap.wrap
            .advantages__top
                h2.advantages__title.title-2 Производим качественные окна <br> из профилей мировых брендов
                p.advantages__text.text Работаем с брендами только проверенных профильных систем Rehau, VEKA <br> и предоставляем качественное гарантийное обслуживание по договору.
                ul.advantages__list
                    li.advantages__list-elem.advantage
                        h4.advantage__title сотрудничества <br> с производителями
                        span.advantage__num 10
                        span.advantage__text лет
                    li.advantages__list-elem.advantage
                        h4.advantage__title гарантии <br> на конструкции
                        span.advantage__num 5
                        span.advantage__text лет
                    li.advantages__list-elem.advantage
                        h4.advantage__title гарантии <br> на монтаж
                        span.advantage__num 3
                        span.advantage__text года
            .advantages__bottom
                .advantages__sale
                    span.advantages__sale-title 3% СКИДКА
                    span.advantages__sale-subtitle пенсионерам и молодоженам
                ul.advantages__benefits
                    li.advantages__benefit.benefit
                        h4.benefit__title СЕРВИС
                        span.benefit__text бесплатное обслуживание <br> в течение гарантийного срока
                    li.advantages__benefit.benefit
                        h4.benefit__title ДОГОВОР
                        span.benefit__text оформляется оперативно <br> у Вас дома после замера
                




                