.form-3
    background fixed url(../../assets/images/form-3-bg.jpg) center -300px no-repeat
    position relative
    z-index 0
    width 100%
    padding-bottom 13%
    padding-top 13%
    overflow hidden
    &__wrap
        position relative
    &__body
        display flex
        justify-content flex-end
        @media (max-width 768px)
            justify-content center
    &__man
        position absolute
        bottom -150px
        left -50px
        z-index 1
        @media (max-width 1400px)
            width 90%
            img 
                width 100%
        @media (max-width 1170px)
            width 110%
            bottom -50px
            left -350px
        @media (max-width 768px)
            display none
    &__transition-img
        position absolute
        bottom -10px
        left  0
        z-index 2
    &__title
        font 60px/72px 'Neumann', sans-serif
        text-align center
        color white
        position relative
        margin-bottom 74px
    &__text
        font 18px/30px 'Museo Sans Light', sans-serif
        color gray
        margin-bottom 60px
    .action-form
        position relative
        z-index 100
        width 488px
        height 604px
        padding 70px 66px 76px
        box-sizing border-box
        background url(../../assets/images/form-bg-2.png) no-repeat
        &__title
            margin-bottom 30px
    .file-load
        margin 10px 0 16px
        display flex
        align-items center
        &__btn
            font-size 14px
            display block
        &__img
            width 40px
            height 44px
            margin 0 22px 0 40px
