mixin form-3()
    section.form-3
        .form-3__wrap.wrap
            h2.form-3__title Закажите бесплатный <br> выезд специалиста
            .form-3_main
                .form-3__body
                    .form-3__action-form.action-form
                        h3.action-form__title.title-3 Оставьте заявку
                        p.action-form__text на выезд инженера с каталогами образцов для обсуждения проекта и составления сметы.
                        input.action-form__input.input(type="text" placeholder="Ваше имя" id="name")
                        input.action-form__input.input(type="text" placeholder="Ваш телефон" id="phone")
                        button.action-form__btn.btn-main Получить выгодное предложение
                        .action-form__agree
                            span.action-form__fake-checkbox
                            span Я принимаю условия передачи <br> информации
        .form-3__man: img(src="../../assets/images/man-2.png")
        //- .form-3__transition-img: img(src="../../assets/images/form-3-bottom.png")