mixin banner()
    section.banner
        .banner__bg
        .banner__wrap.wrap
            .banner__content 
                h1.banner__title.title-1 Надежные пластиковые окна
                p.banner__text Сэкономьте Ваше время и бюджет с оперативным решением задач без посредников.
                button.banner__btn.btn-main смотреть продукцию
                ul.banner__advantages
                    li.banner__advantage НЕМЕЦКИЕ ПРОФИЛЬНЫЕ СИСТЕМЫ ОТ ПРОИЗВОДИТЕЛЯ
                    li.banner__advantage УСТАНОВКА ОКОН ПО ГОСТ
                    li.banner__advantage СРОК СЛУЖБЫ ОКОН 50 ЛЕТ
                    li.banner__advantage Опыт работы на окнонном рынке 10 лет
            .banner__production.production
                span.production__title изготовление
                span.production__price <span> от </span>3480
                span.production__meter за м <sup>2</sup>
                span.production__subtitle рублей
        .banner__transition-img: img(src="././assets/images/form-1-top.png")