mixin banner()
    section.banner
        div.banner__wrap.wrap
            div.banner__content 
                h1.banner__title Get Some Fresh AIR
                h3.banner__subtitle Fjord - Modern Landing Page