.banner
    background url(../../assets/images/bg-2.png) center no-repeat
    // height 1000px
    max-width 100%
    background-size cover
    &__wrap
        padding 290px 0 570px 
    &__content 
        max-width 420px
    &__title
        text-transform uppercase
    &__subtitle
        font-size 12px
        font-weight 400
        text-transform uppercase
        line-height 1.2
        color light-black
        padding-left 7px
        margin-top 15px

