.banner
    background fixed url(../../assets/images/heading-bg.jpg) no-repeat
    position relative
    z-index 0
    width 100%
    padding-bottom 160px
    padding-top 230px
    &__wrap
        position relative
    &__title
        color white
        margin-bottom 18px
        max-width 1120px
        position relative
        @media (max-width 500px)
            font-size 50px
        &::before
            content ''
            width 76px
            height 2px
            position absolute
            top 42px
            left -126px
            background-color mid-blue
    &__text
        color white
        font 21px/29px 'Museo Sans Light', sans-serif
        margin-bottom 62px
        max-width 520px
    &__transition-img
        position absolute
        bottom -7px
        left  0
        z-index 2
        overflow-x: hidden
        img 
            width 100%
    &__advantages
        margin-top: 80px;
        list-style none
    &__advantage
        font 16px/1 'Neumann', sans-serif
        color light-gray
        text-transform uppercase
        margin 0 0 30px 25px
        position relative
        @media (max-width 900px)
            font-size 12px
            line-height 24px
        &::before
            content url(../../assets/images/check.svg)
            position absolute
            top 50%
            left -25px
            transform translate(0, -50%)
            height 16px
            width 16px


.production
    position absolute
    right 50px
    bottom -160px
    z-index 50
    background url(../../assets/images/seven-bg.png) no-repeat
    padding 60px 65px 0
    box-sizing border-box
    width 350px
    height 374px
    display flex
    align-items center
    flex-direction column
    font 18px/52px 'Neumann', sans-serif
    color dark-gray
    text-transform uppercase
    @media (max-width 768px)
        left 50%
        transform translateX(-50%)
        bottom -410px

        padding 40px 65px 0
    @media (max-width 1070px)
        width 320px
        background-size contain
    &__title
        margin-top 14px
        margin-bottom 10px
    &__subtitle
        position relative
        line-height 90%
        &::before
            content ''
            width 20px
            height 1px
            background mid-gray
            position absolute
            right -34px
            bottom 50%
        &::after
            content ''
            width 20px
            height 1px
            background mid-gray
            position absolute
            left -34px
            bottom 50%
    &__price
        font 50px/1 'Neumann', sans-serif
        color mid-blue
        text-shadow 0 8px 3px rgba(0, 0, 0, 0.1)
        position relative
        width 80%
        margin-left 80px
        span
            position absolute
            left -30px
            top 60%
            transform translateY(-50%)
            font 14px/1 'Neumann', sans-serif
            border-bottom 2px solid mid-blue
            color dark-gray
            text-transform uppercase
            padding-bottom 4px

