mixin variant()
    section.variant
        .variant__wrap.wrap
            .variant__content 
                h2.variant__title.title-2 Выберите интересующий Вас вариант оконного изделия
                .variant__body
                    .variant__elem
                        h3.variant__subtitle.title-3 Двустворчатое окно
                        .variant__img
                            img(src="../../assets/images/1.png")
                            .variant__price.price-item стоимость от <span class="price-item__price">3 480 руб.</span>
                        p.variant__text.subtitle Одна створка глухая, <br/> одна поворотно-откидная.
                        button.variant__btn.btn-main Рассчитать стоимость
                    .variant__elem
                        h3.variant__subtitle.title-3 Трехcтворчатое окно
                        .variant__img
                            img(src="../../assets/images/2.png")
                            .variant__price.price-item стоимость от <span class="price-item__price">4 860 руб</span>
                        p.variant__text.subtitle Две глухие створки, <br/> одна поворотно-откидная.
                        button.variant__btn.btn-main Рассчитать стоимость
